<div class="container">
    <h3>New User Form</h3>
    <form #userForm="ngForm" (ngSubmit)="submit(userForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input required minlength="8" maxlength="20" pattern="John Doe" type="text" name="name" class="form-control" ngModel #name="ngModel"></div>
            <div *ngIf="name.touched && name.invalid" class="alert-danger mt-2">
                <p *ngIf="name.errors.required">Name is required</p>
                <p *ngIf="name.errors.minlength">Name must be at least 8 characters long</p>
                <p *ngIf="name.errors.maxlength">Name must be maximum 20 characters long</p>
                <p *ngIf="name.errors.pattern">Name must be John Doe</p>

            </div>
            <div class="form-group">
            <label for="usernamename">Username</label>
            <input type="text" name="usernamename" class="form-control" ngModel></div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" ngModel></div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" class="form-control" ngModel></div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" name="website" class="form-control" ngModel>
        </div>
        <div ngModelGroup="address">
            <div class="form-group">
                <label for="street">Street</label>
                <input ngModel type="text" name="street" class="form-control">
            </div>
            <div class="form-group">
                <label for="suit">Suit</label>
                <input ngModel type="text" name="suite" class="form-control">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input ngModel type="text" name="City" class="form-control">
            </div>
            <div class="form-group">
                <label for="zipcode">Zip code</label>
                <input ngModel type="text" name="zipcode" class="form-control">
            </div>
        </div>
        <div ngModelGroup="company">
            <div class="form-group">
                <label for="name">Name</label>
                <input ngModel type="text" name="Name" class="form-control">
            </div>
            <div ngModelGroup="geo">
                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input ngModel type="text" name="lat" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lng">Longitude</label>
                    <input ngModel type="text" name="lng" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="catchPhrase">Catchphrase</label>
                <input ngModel type="text" name="catchPhrase" class="form-control">
            </div>
            <div class="form-group">
                <label for="bs">BS</label>
                <input ngModel type="text" name="bs" class="form-control">
            </div>
        </div>
        <div class="custom-radio">
            <label *ngFor="let gender of genders" for="gender">
                <input name="gender" class="form-check-input" [value]="gender" ngModel type="radio"><br>
                {{gender}}
            </label>
        </div>
        <div class="form-group">
            <label for="communcationMode">Communication Options</label>
            <select name="communicationMode" class="form-control" ngModel>
                <option value=""></option>
                <option *ngFor="let commOpt of communicationMods" value="commOpt">{{commOpt}}</option>
            </select>
        </div>
        <div class="checkbox-light">
            <label for="agreement">
                <input name="agreement" class="form-check-input" ngModel type="checkbox"><br>
                I agree to the terms and services
            </label>
        </div>
        <hr>
        <pre>
            {{userForm.value | json}}
        </pre>
        <hr>
        <button class="btn btn-primary"[disabled]="userForm.invalid" type="submit">Submit</button>
    </form>
</div>
