<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <p>Hello world</p>
                <li class="list-group-item" *ngFor="let user of users">
                    <app-user [user]="user"></app-user>
                    <!-- <a routerLink="./{{user.id}}">{{user.name}}</a> -->
                </li>
            </ul>
        </div>
        <div class="col-8">
            <router-outlet>
    
            </router-outlet>
        </div>
    </div>

</div>